<div class="form-container">
    <form action="#" method="post" (ngSubmit)="handleSubmitCompany()" [formGroup]="formContact">
        <h2>Biểu Mẫu liên hệ</h2>
        <div class="form-group">
            <label for="fullname">Họ và Tên</label>
            <input type="text" id="fullname" name="fullname" formControlName="fullname" placeholder="Vui lòng nhập họ và tên"
                required>
        </div>
        <div class="form-group">
            <label for="companyname">Tên Công Ty</label>
            <input type="text" id="companyname" name="companyname" formControlName="companyname" placeholder="Vui lòng nhập tên công ty" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Vui lòng nhập email" required>
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="tel" id="phone" name="phone" formControlName="phone" placeholder="Vui lòng nhập số điện thoại" required>
        </div>
        <button type="submit">Xác nhận</button>
    </form>
</div>

<app-loading-overlay [active]="isContact"></app-loading-overlay>