<nz-spin [nzSpinning]="isCheckCode">
  <div class="capacity__container">
    <form
      action=""
      method="post"
      class="capacity__container-form"
      (ngSubmit)="handleCheckCode()"
      [formGroup]="formCheckCode"
    >
      <img _ngcontent-blc-c163="" src="./../../../assets/img/logo.png" alt="" />
      <input
        type="text"
        class="form-control"
        formControlName="code"
        id=""
        aria-describedby="helpId"
        placeholder="Code trò chơi "
      />
      <button class="mt-1 btn-enter">Vào chơi</button>
    </form>
  </div>
</nz-spin>
