<div class="capacity__container">
  <div class="capacity__container-overlay"></div>
  <nz-spin [nzSpinning]="isCheckCode" class="capacity__container-spinner">
    <form
      action=""
      method="post"
      class="capacity__container-form"
      (ngSubmit)="handleCheckCode()"
      [formGroup]="formCheckCode"
    >
      <img class="capacity__container-logo" src="../../../assets/img/capacity-join.gif" alt="" />
      <input
        type="text"
        class="form-control"
        formControlName="code"
        aria-describedby="helpId"
        placeholder="Code trò chơi"
      />
      <button class="mt-2 my-btn my-btn-primary my-btn-m btn-enter">Vào chơi</button>
    </form>
  </nz-spin>
</div>
