<nz-spin [nzSpinning]="isCheckCode">
  <div class="capacity__container">
    <div class="capacity__container-overlay"></div>
    <form
      action=""
      method="post"
      class="capacity__container-form"
      (ngSubmit)="handleCheckCode()"
      [formGroup]="formCheckCode"
    >
      <img class="capacity__container-logo" src="./../../../assets/img/logo.png" alt="" />
      <input
        type="text"
        class="form-control"
        formControlName="code"
        aria-describedby="helpId"
        placeholder="Code trò chơi"
      />
      <button class="mt-2 btn-enter">Vào chơi</button>
    </form>
  </div>
</nz-spin>
