.capacity__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #46178f;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ansswer-active{
  background: #ff6f05;
  color: white
}

.capacity__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
  height: 68px;
  padding: 0 15px;
  color: #46178f;
  line-height: 68px;
  box-shadow: rgb(0 0 0 / 10%) 0px -2px 10px 0px;
}

.capacity__footer .user-point {
  margin-left: auto;
  min-width: 100px;
  max-width: 100%;
  background-color: #333;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}

.list-users {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 68px;
}

.list-users__item {
  padding: 8px 14px;
  margin: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.list-users__item:hover {
  text-decoration: line-through;
}

.capacity__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
}

.capacity__header-top {
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  font-size: 18px;
  color: #46178f;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.capacity__header-bottom {
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  padding: 0px 15px;
  text-align: center;
  font-weight: bold;
  color: #46178f;
}

.answers {
  /* background-color: #fff; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.answer {
 border: 1px solid #ccc;
    padding: 10px 14px;
    border-radius: 3px;
    margin-bottom: 6px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
}

.top-user{
  position: fixed;
    right: 2vh;
    top: 2vh;
}

.title{
  font-size: 30px;
  color: white
}

.my-history{
      color: white;
    background: rgb(114 23 133 / 30%);
    border-radius: 2vh;
    padding: 2vh;
    font-size: 15px;
}
