<div class="capacity__container">
  <!-- <header class="capacity__header">
    <div class="capacity__header-top">1 of 20</div>

    <div class="capacity__header-bottom">1 + 1 = ...</div>
  </header> -->
  <ng-container *ngIf="!flagEnd; else elseTemplate">
    <main *ngIf="!flagStart; else elseFlag">
      <p class="text-white text-center fs-5 mb-3">Chờ máy chủ khởi động!</p>

      <ul class="list-users d-flex align-items-center flex-wrap">

        <li *ngFor="let user of users" class="list-users__item">{{ user.name }}#{{ user.email }}</li>

      </ul>


    </main>
    <ng-template #elseFlag>
      <main>



        <!-- <ul *ngFor="let answer of question.answers" class="list-users d-flex align-items-center flex-wrap">
            <li (click)="clickAnswer(answer.id)" class="list-users__item">{{ answer.status }} {{ answer.content }}</li>
          </ul> -->

        <div class="p-2 top-user">
          <!-- <h2>TOP USER</h2> -->
          <ul class="list-users   align-items-center  ">
            <li *ngFor="let usersRank of usersRanks, let key = index" class="list-users__item">Top {{ key + 1 }} : {{
              usersRank.user.name }} {{
              usersRank.true_answer }}</li>
          </ul>
        </div>

        <h2 class="title" [innerHTML]="renderContent(question.content,question.type)"> </h2>
        <ul class="answers">
          <li *ngFor="let answer of question.answers" (click)="clickAnswer(answer.id)"
            class="answer {{ answer.status ? 'ansswer-active' : '' }}">
            <!-- {{ answer.status }}  -->
            {{ answer.content }}
          </li>
        </ul>


      </main>

    </ng-template>
  </ng-container>
  <ng-template #elseTemplate>
    <h2 class="title">Trò chơi đã kết thúc
    </h2>
    <div *ngIf="userRank" class="my-history">
      <p>{{ userRank.user.name }}</p>
      <p>Điểm : {{ userRank.scores}}</p>
      <p>Số câu trả lời đúng : {{ userRank.true_answer}}</p>
      <p>Số câu trả lời sai : {{ userRank.false_answer}}</p>
      <p>Số câu không trả lời : {{ userRank.donot_answer }}</p>
    </div>
    <ul class="list-users top-user  align-items-center  ">
      <li *ngFor="let usersRank of usersRanks, let key = index" class="list-users__item">Top {{ key + 1 }} : {{
        usersRank.user.name }} {{
        usersRank.true_answer }}</li>
    </ul>
  </ng-template>


  <!-- màn làm bài -->


  <footer class="capacity__footer d-flex align-items-center">
    <span class="user-name"></span>
    <span class="user-point">Top {{ rank }}</span>
  </footer>
</div>
