.capacity__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #46178f;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capacity__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
  height: 68px;
  padding: 0 15px;
  color: #46178f;
  line-height: 68px;
  box-shadow: rgb(0 0 0 / 10%) 0px -2px 10px 0px;
}

.capacity__footer .user-point {
  margin-left: auto;
  min-width: 100px;
  max-width: 100%;
  background-color: #333;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}

.list-users {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 68px;
}

.list-users__item {
  padding: 8px 14px;
  margin: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.capacity__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
}

.capacity__header-top {
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  font-size: 18px;
  color: #46178f;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.capacity__header-bottom {
  font-size: 28px;
  min-height: 60px;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  text-align: center;
  font-weight: bold;
  color: #46178f;
  line-height: 1.2;
  padding-top: 8px;
}

.capacity__play {
  width: 100%;
  padding: 0px 15px;
}

.answers > div {
  display: flex;
}

.answer {
  padding: 6px 12px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0px -0.25rem 0px 0px inset;
  border-radius: 4px;
  font-size: 25px;
  font-weight: bold;
  min-height: 100px;
  max-height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.2;
  word-break: break-word;
  flex: 1;
  transition: all 0.25s linear;
}

.answer.active,
.answer:hover {
  background-color: var(--primary);
  color: #fff;
}

.top-user {
  position: fixed;
  right: 2vh;
  top: 110px;
}

.title {
  font-size: 30px;
  color: white;
}

.my-history {
  color: white;
  background: rgb(114 23 133 / 30%);
  border-radius: 2vh;
  padding: 2vh;
  font-size: 15px;
}

/* button back */
.button-back {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background-color: var(--primary);
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.25s linear;
}

.button-back__icon {
  margin-right: 10px;
  padding-top: 2px;
}

.button-back:hover {
  opacity: 0.8;
}
