<div class="capacity__container">
  <a *ngIf="flagEnd" routerLink="/capacity-join" class="button-back">
    <div class="button-back__icon">
      <i class="fa-solid fa-left-long"></i>
    </div>
    Thoát
  </a>

  <header class="capacity__header" *ngIf="!flagEnd && flagStart">
    <div class="capacity__header-top">{{ question.type === 1 ? "Nhiều đáp án đúng" : "Một đáp án đúng" }}</div>

    <div class="capacity__header-bottom" [innerHTML]="question.content">.</div>
  </header>

  <ng-container *ngIf="!flagEnd; else elseTemplate">
    <main *ngIf="!flagStart; else elseFlag">
      <p class="text-white text-center fs-5 mb-3">Chờ máy chủ khởi động!</p>

      <ul class="list-users d-flex align-items-center flex-wrap" *ngIf="users.length">
        <li *ngFor="let user of users" class="list-users__item">
          <div nz-tooltip [nzTooltipTitle]="user.email" nzTooltipColor="#000">
            <span>{{ user.name }}</span>
            <span *ngIf="user.id === userLogged.id"> (Bạn)</span>
          </div>
        </li>
      </ul>

      <ul class="list-users d-flex align-items-center flex-wrap justify-content-center" *ngIf="!users.length">
        <span>Bạn là người đầu tiên!</span>
      </ul>
    </main>

    <!-- play game -->
    <ng-template #elseFlag>
      <main class="capacity__play">
        <div class="p-2 top-user">
          <!-- rank -->
          <ul class="list-users align-items-center m-0">
            <li *ngFor="let usersRank of usersRanks; let key = index" class="list-users__item">
              Top {{ key + 1 }} : {{ usersRank.user.name }} {{ usersRank.true_answer }}
            </li>
          </ul>
        </div>

        <div class="answers row g-4 row-cols-1 row-cols-md-2">
          <div *ngFor="let answer of question.answers">
            <div (click)="clickAnswer(answer.id)" class="answer {{ answer.status ? 'active' : '' }}">
              {{ answer.content }}
            </div>
          </div>
        </div>
      </main>
    </ng-template>
  </ng-container>

  <ng-template #elseTemplate>
    <h2 class="title">Trò chơi đã kết thúc</h2>
    <div *ngIf="userRank" class="my-history">
      <p>{{ userRank.user.name }}</p>
      <p>Điểm : {{ userRank.scores }}</p>
      <p>Số câu trả lời đúng : {{ userRank.true_answer }}</p>
      <p>Số câu trả lời sai : {{ userRank.false_answer }}</p>
      <p>Số câu không trả lời : {{ userRank.donot_answer }}</p>
    </div>
    <ul class="list-users top-user align-items-center">
      <li *ngFor="let usersRank of usersRanks; let key = index" class="list-users__item">
        Top {{ key + 1 }} : {{ usersRank.user.name }} {{ usersRank.true_answer }}
      </li>
    </ul>
  </ng-template>

  <footer class="capacity__footer d-flex align-items-center">
    <span class="user-name">{{ userLogged.name }}</span>
    <span class="user-point" *ngIf="rank">Top {{ rank }}</span>
  </footer>
</div>
