.section {
    padding: 64px 0;
}

.section:last-child {
    padding-top: -64px;
    padding-bottom: 64px;
}

.section-bg--1 {
    background: var(--my-bg-color);
}

.section-bg--2 {
    background: var(--my-bg-white);
}

.section-bg--3 {
    background: var(--my-primary-50);
}

.post-detail__content-text p,
.post-detail__content-text li {
  text-align: justify;
}

@media (min-width: 768px) {
    .post-event-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
    }
  }
  
  @media (min-width: 1280px) {
    .post-event-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px;
    }
  }