<app-banner [page]="page"></app-banner>
<div class="wraper">
    <!-- INFO -->
    <div class="section section-bg--1">
      <div class="container">
        <div class="row align-items-center">
          <!-- Skeleton -->
          <ng-container *ngIf="isLoading || !jobfair">
              <ngx-skeleton-loader
                appearance="line"
                [theme]="{
                  width: '100%',
                  height: '300px',
                  'margin-bottom': '15px'
                }">
              </ngx-skeleton-loader>
          </ng-container>

          <!-- data -->
          <div class="col-md-6">
            <h3 class="section__title my-h3">{{ jobfair?.name }}</h3>
            <div class="post-detail__content-text" [innerHTML]="jobfair?.description"></div>
            <button class="my-btn my-btn-primary my-btn-xs my-2" (click)="openUrl()">Đăng ký ngay</button>
          </div>
          <div class="col-md-6">
            <img style="max-height: 250px;" [src]="jobfair?.thumbnail" [alt]="jobfair?.name">
          </div>
        </div>
      </div>
    </div>
    
    <!-- DOANH NGHIỆP -->
    <div class="section section-bg--2">
        <div class="container text-center">
          <h3 class="section__title section__title--center my-h3">Doanh nghiệp đồng hành</h3>
          <div class="section-content">
            <app-enterprise-slider [enterprises]="sponsors"></app-enterprise-slider>
          </div>
        </div>
    </div>
    
    <!-- THƯ NGỎ -->
    <div class="section section-bg--1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h3 class="section__title section__title--center my-h3">Thư ngỏ</h3>
              <div class="post-detail__content-text" [innerHTML]="jobfair.note"></div>  
            </div>
            <div class="col-md-6">
              <img src="../../../assets/img/thu_ngo.png" alt="">
            </div>
          </div>
          <div class="div text-center mt-3">
            <h3 class="section__title section__title--center my-h3">TIMELINE</h3>
            <img class="w-100" style="max-height: 350px;" [src]="jobfair?.timeline" [alt]="jobfair?.name">
        </div>
        </div>
    </div>
    
    <!-- NEWS -->
    <div class="section section-bg--2">
      <div class="container text-center">
        <h3 class="section__title section__title--center my-h3">TIN TỨC</h3>
        <div class="section-content">
          <ngx-slick-carousel [config]="slider">
            <ng-container *ngIf="!posts">
              <div ngxSlickItem *ngFor="let item of [].constructor(3); let i = index" class="mx-3">
                <app-post-load-item
                  class="post-loading"
                ></app-post-load-item>
              </div>
            </ng-container>
            <ng-container>
              <div ngxSlickItem *ngFor="let item of posts" class="mx-3">
                <app-post-related-item [postItem]="item"></app-post-related-item>
              </div>
            </ng-container>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>

    <div class="section section-bg--1">
      <div class="container text-center">
        <app-countup-item [stats]="stats"></app-countup-item>
      </div>
    </div>

    <!-- ORGANIZATION -->
    <div class="section section-bg--2">
        <div class="container text-center">
          <h3 class="section__title section__title--center my-h3">Đơn vị tổ chức</h3>
          <div class="row justify-content-center">
            <div class="col-4 col-md-2" *ngFor="let item of host">
              <app-enterprise-item [enterprise]="item.company"></app-enterprise-item>
            </div>
          </div>
      
          <h3 class="section__title section__title--center my-h3">Đơn vị tài trợ</h3>
          <div class="row justify-content-center g-3 mb-4">
            <div class="col-4 col-md-2" *ngFor="let item of sponsors">
              <app-enterprise-item [enterprise]="item.company"></app-enterprise-item>
            </div>
          </div>
      
          <h3 class="section__title section__title--center my-h3">Đơn vị tham gia</h3>
          <div class="row justify-content-center g-3 mb-4">
            <div class="col-4 col-md-2" *ngFor="let item of participants">
              <app-enterprise-item [enterprise]="item.company"></app-enterprise-item>
            </div>
          </div>
        </div>
    </div>

    <!-- FAQs -->
    <div class="section section-bg--1">
        <div class="container text-center">
            <h3 class="section__title section__title--center my-h3">CÁC CÂU HỎI THƯỜNG GẶP</h3>
            <button class="my-btn my-btn-primary my-btn-xs" [routerLink]="['/hoi-dap']">Xem ngay</button>
        </div>
    </div>
</div>
