.faq-item-title {
  margin-top: 12px;
}

.faq-item {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: var(--my-rounded-2);
  border: 1px solid var(--my-dark-gray);
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: box-shadow 0.25s ease;
  display: flex;
  justify-content: space-between; /* trái - phải */
}

.faq-item:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.faq-item-left {
  align-items: center;
  gap: 10px;
  min-width: 0; /* để flex item không vỡ layout */
  max-width: 75%;
  flex-shrink: 1;
}

.faq-item-title {
  text-decoration: none;
  color: #444;
  flex-shrink: 1;
}

.faq-item-title-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 2px 0 8px;
  transition: all 0.25s linear;
}

.faq-item-title-text:hover {
  color: var(--primary);
}

.faq-item-category-tag {
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

.tag--green {
  background-color: #e8f7e4;
  color: #2e7d32;
  border: 1px solid #a5d6a7;
}

.tag--gray {
  background-color: #f0f0f0;
  color: #7a7a7a;
  border: 1px solid #d6d6d6;
}

.faq-item-time {
  font-size: 14px;
  color: #898989;
  white-space: nowrap;
  flex-shrink: 0;
}
