<li class="sidebar__chat-user p-2" [ngClass]="{ 'has-new-msg': isHasNewMsg, active: isActive }">
  <div class="d-flex align-items-center">
    <div class="sidebar__chat-user-avatar my-shadow-2">
      <div class="sidebar__chat-user-avatar-online" *ngIf="isOnline"></div>
      <img [src]="userInfo.avatar" alt="{{ userInfo.name }}" class="d-block" />
    </div>

    <div class="flex-1">
      <div class="sidebar__chat-user-name">{{ userInfo.name }}</div>
      <p class="sidebar__chat-user-message">
        {{ userInfo.email }}
      </p>
    </div>

    <div class="sidebar__chat-user-new-message"></div>
  </div>
</li>
