.flex-1 {
  flex: 1;
}

.sidebar__chat-user {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.sidebar__chat-user.active {
  background-color: var(--my-disabled);
  /* background-color: #eaf3ff; */
}

.sidebar__chat-user:not(.active):hover {
  background-color: #f3f5f6;
}

.sidebar__chat-user.has-new-msg .sidebar__chat-user-new-message {
  display: block;
}

.sidebar__chat-user.has-new-msg .sidebar__chat-user-name {
  font-weight: bold;
}

.sidebar__chat-user.has-new-msg .sidebar__chat-user-message {
  color: var(--my-primary);
}

.sidebar__chat-user-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  padding: 3px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 8px;
  position: relative;
}

.sidebar__chat-user-avatar-online {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #27d003;
  top: 6px;
  right: 2px;
  font-size: 0;
}

.sidebar__chat-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.sidebar__chat-user-name {
  font-size: 16px;
}

.sidebar__chat-user-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--my-darkest-gray);
}

.sidebar__chat-user-new-message {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--my-primary);
  display: none;
}
