
.mentor-card{
    display:flex;
    align-items:center;
    height: 100%;
    gap:20px;
    padding:20px;
    border:1px solid #f1c8a5;
    border-radius:14px;
    background:#f7f7f7;
    transition:all .35s ease;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    min-height: 200px;
  }
  
  
  /* Avatar */
  
  .mentor-avatar{
    width:70px;
    height:70px;
  
    border-radius:50%;
    object-fit:cover;
  
    flex-shrink:0;
  }
  
  
  /* Info */
  
  .mentor-info{
    display:flex;
    flex-direction:column;
    gap:4px;
    padding-right:80px;
  }
  
  
  /* Name */
  
  .mentor-name{
    font-size:20px;
    font-weight:700;
    margin:0;
    line-height:1.3;
    word-break:break-word;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
  
.mentor-location, .mentor-field, .mentor-class{
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;

    overflow:hidden;
}
  /* Role */
  
  .mentor-role{
    color:#e57a2e;
    font-weight:600;
  }
  
  
  /* Class */
  
  .mentor-class{
    font-weight:600;
  }
  
  
  /* Location */
  
  .mentor-location{
    color:#555;
  }
  
  
  /* Field */
  
  .mentor-field{
    color:#555;
  }
  
  
  /* Icon góc phải */
  
  .mentor-icon{
    position:absolute;
    top:14px;
    right:14px;
    font-size:18px;
    border:2px solid #333;
    border-radius:10px;
    width:36px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;
  
    transition:all .3s ease;
    z-index:2; /* nằm trên tam giác */
  }
  
  
  /* ===== Góc chéo ===== */
  
  .mentor-card::after{
    content:"";
    position:absolute;
  
    top:0;
    right:0;
  
    width:120px;
    height:120px;
  
    background:#ff6638; /* màu cam mặc định */
  
    clip-path:polygon(100% 0, 0 0, 100% 100%);
  
    z-index:1;
  
    transition:all .35s ease;
  }
  
  
  /* ===== Hover ===== */
  
  .mentor-card:hover{
  
    background:#ff6638;
  
    color:white;
  
    border-color:transparent;
  
    transform:translateY(-4px);
  
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
  
  }
  
  
  /* Tam giác hover sáng hơn */
  .mentor-card:hover::after{
    background:#e8d0b7;
  }
  
  
  /* Text chuyển trắng */
  
  .mentor-card:hover .mentor-role,
  .mentor-card:hover .mentor-location,
  .mentor-card:hover .mentor-field{
    color:white;
  }
  
  
  /* Icon hover */
  .mentor-card:hover .mentor-icon{
    border-color:white;
    color:white;
  }
  
.location-tag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;
  background-color: #e6f4ff;
  color: #e57a2e;
  font-weight: 500;
}

