<div class="mentor-card">
    <img class="mentor-avatar" [src]="mentor?.avatar">
    <div class="mentor-info">
        <h3 class="mentor-name">{{ mentor?.name }}</h3>
        <div class="mentor-class">{{ mentor?.email }}</div>
        <div class="mentor-role">Mentor</div>
        <div *ngIf="mentor?.info?.education" class="mentor-class">Học vấn: <b>{{ mentor?.info?.education }}</b></div>
        <div *ngIf="mentor?.info?.experience" class="mentor-class">Kinh nghiệm: <b>{{ mentor?.info?.experience }}</b></div>
        <div *ngIf="mentor?.info?.position" class="mentor-class">Vị trí công tác: <b>{{ mentor?.info?.position }}</b></div>
        <div *ngIf="mentor?.info?.location_name" class="mentor-class">Khu vực: 
        <span class="location-tag">{{ mentor?.info?.location_name }}</span>
        </div>
    </div>
    <div class="mentor-icon">
        ↗
    </div>
</div>