.mentor-card{
    background:#fff;
    border:1px solid #ddd;
    overflow:hidden;
    transition:all .35s ease;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    height:100%;
    display:flex;
    flex-direction:column;
    border-radius: 5%;
  }
  
  .mentor-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,0.15);
  }
  
  .mentor-img{
    overflow:hidden;
    height:250px;
  }
  
  .mentor-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform .5s ease;
  }
  
  .mentor-card:hover .mentor-img img{
    transform:scale(1.2);
  }
  
  .mentor-content{
    padding:18px;
    flex-grow:1;
    display:flex;
    flex-direction:column;
  }
  
  .mentor-content h5{
    font-weight:600;
    margin-bottom:10px;
  }
  
  .mentor-content p{
    font-size:14px;
    color:#444;
    line-height:1.5;
    flex-grow:1;
  }
  
  .mentor-link{
    text-decoration:none;
    color:#ff3b1f;
    font-size:14px;
    font-weight:500;
    align-self:flex-end;
    transition:color .3s;
  }
  
  .mentor-link:hover{
    color:#000;
  }