.btn-chat-support {
  position: fixed;
  left: 25px;
  bottom: 25px;
  height: 36px;
  padding: 0px 12px;
  outline: none;
  user-select: none;
  background-color: var(--my-primary);
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
}

.btn-chat-support__icon {
  padding-top: 4px;
  margin-right: 8px;
  font-size: 18px;
}
