<div class="popup-content-box" id="popup">
  <div class="" style="text-align: right">
    <button (click)="closePopup(false)" class="btn-close-popup">X</button>
  </div>
  <div class="text-center">
    <h3 class="popup-content-message">Hiện tại bạn chưa đăng nhập !!!</h3>
    <p class="popup-content-content">Đăng nhập để thực hiện các thao tác.</p>
    <button class="popup-content-close" (click)="closePopup(true)">Đăng nhập</button>
  </div>
</div>
<div class="over-lay d-none" (click)="closePopup(false)"></div>
