<div class="container-wrap">
  <div class="container">
    <h1 class="text-center pt-3 my-h3 m-0">Hỗ trợ trực tuyến</h1>
    <div class="text-center mb-3 mt-1">
      <p>Chào mừng bạn đến với hệ thống quản lý và hỗ trợ sinh viên</p>
      <p>Poly chúc bạn một ngày làm việc hiệu quả ❤️</p>
    </div>

    <main class="content">
      <div class="row" *ngIf="isLogged; else elseBlock">
        <div class="col col-3">
          <div class="sidebar">
            <!-- search -->
            <!-- <form action="" class="my-form-search sidebar__form-search">
              <input type="text" class="my-input-search" name="keyword" placeholder="Tìm kiếm" />
              <button class="sidebar__form-search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form> -->

            <!-- chat user -->
            <div class="sidebar__chat-users">
              <div *ngIf="data_chat.length > 0; else elseTemplate">
                <ul>
                  <app-user-chat-message *ngFor="let item of data_chat" [userInfo]="item.user" [isOnline]="true"
                    (click)="showChat(item.user.id)"
                    [isActive]="chatActive.length && item.user.id === chatActive[0].user.id"></app-user-chat-message>
                </ul>
              </div>

              <ng-template #elseTemplate>
                <p class="text-center">Không có quản trị viên nào đang online!</p>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col col-9">
          <div class="chat" *ngIf="chatActive.length > 0; else elseTemplate2">
            <div class="chat-user d-flex align-items-center p-2">
              <div class="d-flex align-items-center">
                <div class="chat-user-avatar my-shadow-2">
                  <div class="chat-user-avatar-online"></div>
                  <img [src]="chatActive[0].user.avatar" alt="{{ chatActive[0].user.name }}" class="d-block" />
                </div>

                <div class="flex-1">
                  <div class="chat-user-name fw-bold">{{ chatActive[0].user.name }}</div>
                  <p class="chat-user-message">{{ chatActive[0].user.email }}</p>
                </div>
              </div>
            </div>

            <div class="chat__content">
              <div class="chat__content-messages p-3">
                <div class="chat__content-messages-inner" style="    transform: rotate(180deg);" #chatContent>
                  <div class="chat__content-message-wrap d-flex" *ngFor="let data of chatActive[0].data"
                    [ngClass]="{ 'my-message': data.id == authId }">
                    <p class="chat__content-message d-inline-block" ngbTooltip="{{ data.time }}" placement="left">
                      {{ data.message }}
                    </p>
                  </div>
                </div>
              </div>

              <form (ngSubmit)="sendDataChat()" class="chat__content-form-send-msg d-flex align-items-center px-3">
                <input #formControlSendMsg type="text" [disabled]="isSendingChat" autocomplete="off" autofocus
                  name="message-to-send" [(ngModel)]="dataChatValue"
                  class="chat__content-form-send-msg-control px-3 flex-1" placeholder="Aa" />
                <button class="chat__content-form-send-msg-btn">
                  <i class="fa-solid fa-paper-plane" *ngIf="!isSendingChat"></i>
                  <i class="fa-solid fa-spinner" *ngIf="isSendingChat"></i>
                </button>
              </form>
            </div>
          </div>

          <ng-template #elseTemplate2>
            <div class="no-chat p-3 bg-white d-flex align-items-center justify-content-center">
              <img src="../../../assets/img/no-result.png" class="d-block" />
            </div>
          </ng-template>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="content-no-logged d-flex align-items-center justify-content-center bg-white rounded-2">
          <span>Vui lòng</span>
          <button class="my-btn my-btn-s my-btn-primary mx-2" (click)="handleGoToLoginPage()">đăng nhập</button>
          <span>để tiếp tục!</span>
        </div>
      </ng-template>
    </main>
  </div>
</div>
