.flex-1 {
  flex: 1;
}

.container-wrap {
  background-color: #f8f8f8;
}

.content {
  height: 80vh;
  padding-bottom: 32px;
}

.content-no-logged {
  height: 72vh;
}

.sidebar__form-search {
  border-radius: 15px;
  height: 45px;
}

.sidebar__form-search-btn {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0px 10px;
}

.sidebar__chat-users {
  height: calc(76vh - 32px);
  /* height: calc(76vh - 45px - 32px); */
  overflow-y: auto;
  padding-right: 4px;
}

/* content right */
.no-chat {
  min-height: calc(76vh - 28px);
  border-radius: 12px;
}

.chat-user {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 12px;
  min-height: 80px;
}

.chat-user-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 3px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 8px;
  position: relative;
}

.chat-user-avatar-online {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #27d003;
  top: 7px;
  right: 3px;
  font-size: 0;
}

.chat-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.chat-user-name {
  font-size: 16px;
}

.chat-user-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--my-darkest-gray);
}

.chat-user-new-message {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--my-primary);
  display: none;
}

.chat__content {
  min-height: calc(76vh - 80px - 28px);
  background-color: #fff;
  border-radius: 10px;
}

.chat__content-messages {
  height: calc(76vh - 80px - 28px - 60px);
  overflow-y: auto;
  transform: rotate(180deg);
}

.chat__content-form-send-msg {
  height: 60px;
}

.chat__content-form-send-msg-btn {
  background-color: var(--my-primary);
  border-radius: 50px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 8px;
  transition: all 0.25s linear;
}

.chat__content-form-send-msg-btn:hover {
  opacity: 0.7;
}

.chat__content-form-send-msg-control {
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #f0f2f5;
  padding: 12px 0px;
}

.chat__content-form-send-msg-control:disabled {
  background-color: #ddd;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.chat__content-form-send-msg-control:disabled + .chat__content-form-send-msg-btn {
  animation: loading 2s linear infinite;
  opacity: 0.7;
}

.chat__content-message {
  background-color: #e4e6eb;
  border-radius: 18px;
  padding: 8px 12px;
}

.chat__content-message-wrap:not(:last-child) {
  margin-bottom: 3px;
}

.chat__content-message-wrap.my-message {
  justify-content: end;
}

.chat__content-message-wrap.my-message .chat__content-message {
  background-color: var(--my-primary);
  color: #fff;
}
