<app-banner></app-banner>
<!-- topCards -->
<div class="section section-bg--1">
  <div class="container">
    <div *ngIf="topCards" class="row justify-content-center">
      <div *ngFor="let card of topCards" class="col-md col-sm-12 mx-auto">
        <div class="card card-custom">
          <!-- Image -->
          <img [src]="card.icon" [alt]="card.name">
          <!-- Buttons -->
          <div class="card-body">
            <div class="row justify-content-center">
              <div *ngFor="let button of card.data" class="col-6 d-flex justify-content-center">
                <a class="contest-view-link" [routerLink]="button.url">
                  <button class="my-btn-secondary my-btn-m my-1">{{button.label}}<i class="fa-solid fa-arrow-right"></i></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!topCards" class="row justify-content-center">
      <div *ngFor="let i of [1,2,3]" class="col-md-4 col-sm-12 mx-auto">
        <ngx-skeleton-loader
          [theme]="{
            'height.px': '300',
            'width': '100%',
            'margin-bottom': '20'
          }"
          appearance="line"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
<!-- Vị trí tuyển dụng gấp -->
<div class="section section-bg--2">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">
      <i class="section__title-icon fa-solid fa-clock-rotate-left"></i>
      Vị trí tuyển dụng gấp
    </h2>
    <div>
      <div class="list-post-new-slick position-relative">
        <button
          (click)="prevRecruitmentPosition()"
          class="list-post-control post-control-prev position-absolute top-50 start-0 translate-middle"
        >
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <div *ngIf="statusListPostRecruitment" class="recruitment-position-list">
          <app-recruitment-position *ngFor="let item of listRecruitmentPosition" [item]="item">
          </app-recruitment-position>
        </div>
        <div *ngIf="!statusListPostRecruitment" class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <ngx-skeleton-loader
              [theme]="{
                'height.px': '130',
                'margin-bottom': '20'
              }"
              animation="pulse"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <button
          (click)="nextRecruitmentPosition()"
          class="list-post-control post-control-next position-absolute top-50 start-100 translate-middle"
        >
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center algin-items-center">
        <ul class="post-link__list mt-4 d-flex">
          <li
            *ngFor="let item of arrLinkPost; let i = index"
            (click)="payingRecruitmentPosition(i + 1)"
            class="post-link__item"
            [ngClass]="item.active ? 'active' : ''"
          ></li>
        </ul>
      </div>
      <div class="contest-view mt-1">
        <a class="contest-view-link" routerLink="/tin-tuc-tuyen-dung">
          <button class="my-btn-secondary my-btn-m">Xem thêm<i class="fa-solid fa-arrow-right"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dịch vụ việc làm -->
<div class="section section-bg--1">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">
      <i class="section__title-icon fa-solid fa-briefcase"></i>
      Dịch vụ việc làm
    </h2>
    <div class="section-content">
      <img src="../../../assets/img/qhdn_hn.png" alt="">
      <div class="contest-view mt-2">
        <a class="contest-view-link" routerLink="/dich-vu">
          <button class="my-btn-secondary my-btn-m">Đăng ký dịch vụ<i class="fa-solid fa-arrow-right"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Hoạt động -->
<div class="section section-bg--2">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">
      <i class="section__title-icon fa-solid fa-ranking-star"></i>
      Hoạt động
    </h2>
    <div class="section-content">
      <div class="row">
        <div class="col-md col-sm-12" *ngFor="let item of activities">
          <a [routerLink]="item.link" class="activity-card">
            <div class="activity-thumb">
              <img src="../../../assets/img/{{item.image}}" [alt]="item.title">
              <!-- <div class="activity-overlay">
                <h3 class="activity-title">
                  {{ item.title }}
                </h3>
              </div> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Thông số  -->
<div class="section section-bg--1">
  <div class="container">
    <div class="section-content">
      <app-countup-item [stats]="stats"></app-countup-item>
    </div>
  </div>
</div>

<!-- Ngày hội việc làm  -->
<div *ngIf="jobFair" class="section section-bg--2">
  <div class="container">
    <div class="row algin-items-stretch">
      <div class="col-md col-sm-12">
        <div class="bg-light d-flex align-items-center justify-content-center h-100" style="min-height:200px;">
            <img [src]="jobFair.icon"
                  class="img-fluid"
                  [alt]="jobFair.name">
        </div>
      </div>

      <!-- Content -->
      <div class="col-md col-sm-12 d-flex flex-column">
        <h2 class="section__title section__title--center my-h3">
          <i class="section__title-icon fa-solid fa-calendar"></i>
          {{jobFair.name}}
        </h2>

        <p class="text-collapse flex-grow-1">
          {{jobFair.data[0].description}}
        </p>

        <div class="text-end">
          <a class="contest-view-link" routerLink="/ngay-hoi-viec-lam">
            <button class="my-btn-secondary my-btn-m">Xem thêm<i class="fa-solid fa-arrow-right"></i></button>
          </a>
        </div> 
      </div>
    </div>
  </div>
</div>

<!-- Tin nổi bật -->
<div class="section section-bg--1">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">
      <i class="section__title-icon fa-solid fa-newspaper"></i>
      Tin nổi bật
    </h2>
    <div class="section-content">
      <div class="post-event-list grid gy-1" *ngIf="!listPostEvent">
        <app-post-load-item
          class="post-loading"
          *ngFor="let item of [].constructor(3); let i = index"
        ></app-post-load-item>
      </div>
      <div class="post-event-list">
        <div class="post-item" *ngFor="let item of listPostEvent">
          <app-post-related-item [postItem]="item"></app-post-related-item>
        </div>
      </div>
      <div class="contest-view mt-5" *ngIf="listPostEvent">
        <a class="contest-view-link" routerLink="/tin-tuc">
          <button class="my-btn-secondary my-btn-m">Xem tất cả <i class="fa-solid fa-arrow-right"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Doanh nghiệp -->
<div class="section section-bg--2">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">
      <i class="section__title-icon fa-solid fa-building"></i>
      Doanh nghiệp hợp tác tiêu biểu
    </h2>
    <div class="section-content">
      <app-enterprise-slider [enterprises]="companies"></app-enterprise-slider>
    </div>
  </div>
</div>

<!-- <div class="section section-bg--2">
  <div class="container">
    <h2 class="section__title section__title--center my-h3">Liên hệ</h2>
    <div class="section-content" id="contactForm">
      <app-contact-company></app-contact-company>
    </div>
  </div>
</div> -->
