<app-banner [page]="page"></app-banner>
<div class="wraper">
  <div class="section section-bg--1 my-2">
    <div class="container">
      <h3 class="section__title my-h3 text-center">MENTORSHIP</h3>
    </div>
  </div>

  <div class="section section-bg--2 my-2">
    <div class="container">
      <h3 class="section__title my-h3 text-center">DANH SÁCH MENTOR</h3>
      <div *ngIf="isLoading" class="row g-3">
        <ngx-skeleton-loader
          class="col"
          [theme]="{
            'height.px': '200',
            'margin-top': '20'
          }"
          count="6"
          animation="line"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          class="col"
          [theme]="{
            'height.px': '200',
            'margin-top': '20'
          }"
          count="6"
          animation="line"
        ></ngx-skeleton-loader>
      </div>
      <div *ngIf="!isLoading">
        <div *ngIf="mentors.length > 0">
          <div class="mentor-grid">
            <div class="mentor-card" *ngFor="let mentor of mentors">
              <img class="mentor-avatar" [src]="mentor.avatar">
              <div class="mentor-info">
                <h3 class="mentor-name">{{ mentor?.name }}</h3>
                <div class="mentor-role">Mentor</div>
                <div class="mentor-class">{{ mentor?.email }}</div>
                <div *ngIf="mentor?.info?.education" class="mentor-class">Học vấn: <b>{{ mentor?.info?.education }}</b></div>
                <div *ngIf="mentor?.info?.experience" class="mentor-class">Kinh nghiệm: <b>{{ mentor?.info?.experience }}</b></div>
                <div *ngIf="mentor?.info?.position" class="mentor-class">Vị trí công tác: <b>{{ mentor?.info?.position }}</b></div>
                <div *ngIf="mentor?.info?.location_name" class="mentor-class">Khu vực: 
                  <span class="location-tag">{{ mentor?.info?.location_name }}</span>
                </div>
              </div>
              <div class="mentor-icon">
                ↗
              </div>
            </div>
          </div>
        </div>
        <div class="pagination" *ngIf="!isLoading">
          <ul class="pagination-list">
            <li
              class="pagination-list_box pagination-list_first"
              (click)="paginationPages(first_page_url, false, '1', $event)"
            >
              <i class="fa-solid fa-angles-left"></i>
            </li>
            <li
              class="pagination-list_box pagination-item"
              *ngFor="let page of links"
              [ngClass]="page.active ? 'active' : ''"
              (click)="paginationPages(page.url, page.active, page.label, $event)"
            >
              {{ page.label }}
            </li>
            <li
              class="pagination-list_box pagination-list_last"
              (click)="paginationPages(last_page_url, false, last_page, $event)"
            >
              <i class="fa-solid fa-angles-right"></i>
            </li>
          </ul>
        </div>
        <div *ngIf="mentors.length == 0">
          <h1 class="text-center">Không có dữ liệu</h1>
        </div>
      </div>
      
      <!-- <div class="mentor-page">
        <div>
            <h2 class="mentor-section-title">DANH SÁCH MENTOR</h2>
        </div>
        
      </div> -->
    </div>
  </div>
</div>
