<div class="section section-bg--3">
    <div class="container my-5 text-center" style="width: 40%;font-size: larger;">
        <h1 class="fw-bold">Phòng Quan hệ Doanh nghiệp (QHDN)</h1>
        <p>
            Là đơn vị trực thuộc Trường Cao đẳng FPT Polytechnic được hình thành và phát triển với sứ mệnh là cầu nối gắn kết quan trọng giữa tam giác <br><b>Doanh nghiệp – Nhà trường – Sinh viên</b>. 
        </p>
    </div>
</div>
<!-- Section 1 -->
<div class="section section-bg--1">
    <div class="container my-5">
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/img/QHDN_HCM-1536x1152.jpg" alt="">
            </div>
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h1 class="fw-bold text-uppercase section__title">Mục tiêu hoạt động</h1>
                    <div style="font-size: 20px;">
                        <p class="my-4">
                            <i class="fa-regular fa-circle-check me-2"></i>
                            Phòng Quan hệ doanh nghiệp luôn hết mình tạo ra môi trường trải nghiệm cho sinh viên, đảm bảo thực hiện các hoạt động chăm sóc, hỗ trợ đáp ứng nhu cầu về định hướng nghề nghiệp, tham quan doanh nghiệp, thực tập, cung cấp thông tin việc làm cho sinh viên trong suốt thời gian học tập tại trường và sau khi ra trường 
                        </p>
                        <p>
                            <i class="fa-regular fa-circle-check me-2"></i>
                            Bên cạnh đó xây dựng mối quan hệ hợp tác với bền chặt với Doanh nghiệp, cung cấp nguồn nhân lực đáp ứng yêu cầu chất lượng của Doanh nghiệp.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 d-flex align-items-center">
                <div>
                    <h1 class="fw-bold text-uppercase section__title">Nhiệm vụ</h1>
                    <div class="advantage-show-text" style="font-size: 20px;">
                        <p> <i class="fa-regular fa-circle-check me-2"></i>Kết nối doanh nghiệp; tư vấn, hỗ trợ thực tập, việc làm </p>
                        <p class="my-4"> <i class="fa-regular fa-circle-check me-2"></i>Sự kiện hướng nghiệp </p>
                        <p class="my-4"> <i class="fa-regular fa-circle-check me-2"></i>Xây dựng lộ trình nghề nghiệp </p>
                        <p class="my-4"> <i class="fa-regular fa-circle-check me-2"></i>Giới thiệu việc làm thêm, việc làm toàn thời gian </p>
                        <p class="my-4"> <i class="fa-regular fa-circle-check me-2"></i>Kết nối cơ hội thực tập </p>
                        <p class="my-4"> <i class="fa-regular fa-circle-check me-2"></i>Công tác Cựu sinh viên </p>
                        <p> <i class="fa-regular fa-circle-check me-2"></i>Gắn kết Cựu sinh viên với Nhà trường </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../assets/img/SV_TT-1536x1024.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Section 2: -->
<div class="section section-bg--2">
    <div class="container my-5">
        <h1 class="text-center text-uppercase fw-bold section__title">tại sao chọn chúng tôi</h1>
        <div class="row row-cols-3 g-2">
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/case-svgrepo-com.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Giới thiệu công việc
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Cập nhật các thông tin tuyển dụng mới nhất từ các doanh nghiệp đối tác</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/search.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Tìm kiếm CV
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Tìm kiếm ứng viên phù hợp với nhu cầu tuyển dụng của doanh nghiệp đối tác</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/circle-user-svgrepo-com.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Đăng tải hồ sơ ứng tuyển
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Kiểm duyệt và đăng tải hồ sơ của các ứng viên tiềm năng</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/company-svgrepo-com.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Tìm kiếm nhà tuyển dụng
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Cung cấp bộ lọc thông minh giúp ứng viên nhanh chóng tìm được doanh nghiệp phù hợp</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/document-text-svgrepo-com.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Quản lý hồ sơ ứng tuyển
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Cung cấp thông tin ứng viên giúp doanh nghiệp nhanh chóng tìm được ứng viên phù hợp</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="recruitment-position-item">
                    <div class="recruitment-position__img-section">
                        <img src="../../../assets/svg/info-circle-svgrepo-com.svg" class="recruitment-position__img" alt="" />
                    </div>
                    <div class="recruitment-position__context">
                      <div class="recruitment-position__context-row">
                        <h3 class="recruitment-position__title">
                            Trang tin tức chung
                        </h3>
                      </div>
                      <div class="recruitment-position__context-row">
                        <div class="">
                          <p class="recruitment-position__desc">Về hoạt động quan hệ doanh nghiệp, đào tạo, thực tập, thực tế, cựu sinh viên, ...</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 3:  -->
<div class="section section-bg--3">
    <div class="container my-5">
        <img src="../../../assets/img/QHDN_1536x1024.jpg" alt="">
    </div>
</div>