<div class="text-center py-3">
  <div class="text-center mb-4">
    <img src="../../../assets/img/congratulations.svg" alt="" class="modal-img" />
  </div>

  <div>
    <h1 class="modal-title">Chúc mừng</h1>
    <p class="modal-user-name">{{ data.name }}</p>
  </div>

  <p class="modal-text">Bạn vừa hoàn thành thử thách này.</p>

  <ul class="modal-actions d-flex align-items-center justify-content-center mt-4 mb-0">
    <li
      mat-button
      mat-dialog-close="false"
      class="modal-actions__btn modal-actions__btn--no-bg mx-2 my-btn my-btn-s my-btn-primary"
    >
      Ở lại trang
    </li>

    <li
      mat-button
      mat-dialog-close="true"
      class="modal-actions__btn mx-2 my-btn my-btn-s my-btn-primary modal-action-link"
    >
      Trở lại thử thách
    </li>
  </ul>
</div>
