.modal-img {
  width: 120px;
}

.modal-title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 16px;
}

.modal-user-name {
  font-size: 32px;
  font-weight: bold;
}

.modal-text {
  margin-top: 12px;
  font-size: 16px;
}

.modal-actions__btn {
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-action-link {
  color: #fff;
}

.modal-actions__btn--no-bg {
  background-color: transparent;
  color: var(--my-primary);
}

.modal-actions__btn--no-bg:hover {
  background-color: var(--my-primary);
  color: #fff;
}
