h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

/* LIST ROUND */
.section__title {
  color: var(--my-secondary)
}

.round-header {
  box-shadow: 0px 0px 3px var(--gray-200);
  /* margin-bottom: 15px; */
}

.icon-close {
  font-size: 24px;
  cursor: pointer;
}

.img-avatar-round {
  height: 35px;
  width: 40px;
}

.img-avatar-round img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  object-fit: cover;
}

.round-content {
  margin-bottom: -15px;
}

/* LIST TEAM */
.list-team-in {
  padding: 10px 25px;
  margin-bottom: 10px;
}

/*  */
.image-warn-round {
  height: 300px;
}