<div class="container">
  <h1 class="my-h4 my-3">Danh sách thử thách</h1>

  <ul class="challenge__list">
    <li
      *ngFor="let challenge of challenges"
      class="challenge__list-item d-flex align-items-center justify-content-between border p-2 rounded-2 mb-3"
    >
      <h2 class="challenge__list-item-name m-0 my-h5">{{ challenge.name }}</h2>

      <div class="d-flex align-items-center">
        <div class="challenge__submission text-center mx-4">
          <span>Bài đã nộp bài</span>
          <div>{{ challenge.successRef }}%</div>
        </div>

        <a [routerLink]="['/challenge', challenge.id]">
          <button class="my-btn my-btn-primary my-btn-s">Code ngay</button>
        </a>
      </div>
    </li>
  </ul>
</div>
